/*SVG part*/
#canvas {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    border: 2px solid #666;
}

body { 
    overflow: hidden;
}

.cabcircle {
    stroke-width: 1px;
    stroke: #CCC;
    fill: none;
    stroke-dasharray: 1 1;
}

.portcircle {
    stroke-width: 2px;
    stroke: #fff;
    fill: #CDD;
}

.devarc {
    stroke-width: 2px;
    stroke: #233;
    fill: none;
}

.porttext {
    font-size: 0.4em;
    font-weight: bold;
}

.devtext {
    font-size: 0.6em;
    font-weight: bold;
    fill: #9AA;
}

.cable {
    stroke-width: 1px;
    stroke-linecap: round;
}

.cablestroke {
    stroke: #fff;
    stroke-width: 2px;
    stroke-linecap: round;
}

.cabtext {
    font-size: 0.6em;
    font-weight: bold;
    fill: #BBB;
}

#dragline {
    stroke-width: 1px;
    stroke: #CCC;
    stroke-dasharray: 1 1;
}